<div class="footer" style=" position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:none;
color:#2c3e50;
text-align: center;">
      <p> <strong>Copyright &copy by Aditya Barde</strong></p>
  </div>